.background {
  background-image: url("../../img/img5.jpeg");
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  bottom: 0;
  top: 0;
  position: absolute;
}

.photo {
  background-image: url("../../img/img2.jpeg");
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 30%;
  width: 20%;
  position: absolute;
  bottom: 0;
  top: 18rem;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  opacity: 0.7;
}

.button{
  position: absolute;
  bottom: 5rem;
}

.data{
  font-size: 1.5rem;
  top: 3.5rem;
  position: relative
}

@media (max-width: 768px) {
  .containerHome{
    width: 100%;
    padding: 0;
  }

  .photo {
    height: 35%;
    width: 70%;
    position: absolute;
  }

  .button{
    position: absolute;
    bottom: 10rem;
  }
}

@media (max-width: 414px) {
  .containerHome{
    width: 100%;
    padding: 0;
  }

  .photo {
    height: 30%;
    width: 60%;
    position: absolute;
    top: 40%
  }

  .button{
    position: absolute;
    bottom: 5rem;
  }

  .data{
    top: 4.5rem;
  }
}

@media (max-width: 375px) {
  .containerHome{
    width: 100%;
    padding: 0;
  }

  .photo {
    height: 35%;
    width: 55%;
    position: absolute;
    top: 40%
  }

  .button{
    position: absolute;
    bottom: 5rem;
  }

  .data{
    top: 3.5rem;
  }
}

@media (max-width: 360px) {
  .containerHome{
    width: 100%;
    padding: 0;
  }

  .photo {
    height: 30%;
    width: 60%;
    position: absolute;
    top: 40%;
  }

  .button{
    position: absolute;
    bottom: 5rem;
  }

  .data{
    top: 2.5rem;
  }
}