.background {
  background-image: url("../../img/img3.jpeg");
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  filter: blur(5px);
}

.container {
  bottom: 0;
  top: 0;
  position: absolute;
}

.photo {
  background-image: url("../../img/img2.jpeg");
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 70vh;
  width: 70vh;
  position: absolute;
  bottom: 0;
  top: 8rem;
  box-shadow: 6px 6px 9px black;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  opacity: 0.5;
}

.button{
  position: absolute;
  bottom: 5rem;
}