.chosen {
  text-decoration: line-through;
  color: #D70040;
  opacity: 1 !important;
}

.chosenByMe {
  text-decoration: none;
  color:  #0F52BA;
  font-weight: bold;
  opacity: 1 !important;
}

.disabled {
  opacity: 0.5
}

.colorGifts {
  border-radius: 50%;
  width: 10%;
}

.black{
  background-color: black;
}

.gray{
  background-color: gray;
}

.bege {
  background-color: burlywood;
}

.white {
  background-color: white;
  border: 2px solid black
}