.numbers {
  border-radius: 8px;
}

.modal {
  right: 0;
  left: 0;
  top: 0;
  bottom: 0rem;
}

li{
  margin-bottom: 1rem
}

.current-page{
  
}

@media (max-width: 768px) {
  .containerStatus {
    display: grid
  }
}