.chosen {
  text-decoration: line-through;
  color: red;
  opacity: 1 !important;
}

.disabled {
  opacity: 0.5
}

.colorGifts {
  border-radius: 50%;
  width: 10%;
}

.black{
  background-color: black;
}

.gray{
  background-color: gray;
}

.bege {
  background-color: burlywood;
}

.white {
  background-color: white;
  border: 2px solid black
}

.textGift {
  text-transform: capitalize;
}