@import './utilitiesClass/colors';
@import './utilitiesClass/textSizes';
@import './utilitiesClass/alignment';
@import './utilitiesClass/spacing';
@import './utilitiesClass/fonts';
@import './utilitiesClass/textDecorations';

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Great+Vibes&display=swap');

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

p, span {
  font-family: 'Great Vibes', cursive;
}

h1, h2, h3, h4, h5 {
  font-family: 'Great Vibes', cursive;
}
