.font-bold {
  font-weight: bold;
}

.font-italic {
  font-style: italic;
}

.font-secondary {
  font-family: 'Segoe UI', Arial, sans-serif; /* Escolha a fonte desejada */
  color: #fff; /* Cor do texto */
}